In [2]:
import numpy as np
import pandas as pd
import regex as re

In [3]:
#This program will use various methods to calculate each student's average based on the four (4) scores provided

In [4]:
#Read the data in

scores = pd.read_csv('useful_datasets/grades.txt')
scores

   StudentID  Q1  Q2  Q3  Q4
0   student1  89  76  82  56
1   student2  71  88  61  90
2   student3  71  80  84  65
3   student4  67  90  73  92
4   student5  79  91  81  76
5   student6  67  79  80  70
6   student7  69  91  73  65
7   student8  72  59  81  93
8   student9  68  88  92  76
9  student10  87  83  79  89

In [5]:
#Create an average column using .mean **be sure to specify numeric only columns since you cannot take the mean of 
#'student1' for example

scores['Average'] = scores.mean(axis=1,numeric_only=True) #each row

In [6]:
scores

   StudentID  Q1  Q2  Q3  Q4  Average
0   student1  89  76  82  56    75.75
1   student2  71  88  61  90    77.50
2   student3  71  80  84  65    75.00
3   student4  67  90  73  92    80.50
4   student5  79  91  81  76    81.75
5   student6  67  79  80  70    74.00
6   student7  69  91  73  65    74.50
7   student8  72  59  81  93    76.25
8   student9  68  88  92  76    81.00
9  student10  87  83  79  89    84.50

In [7]:
#And now, the long-handed way.......

In [8]:
#Read data in and append to an empty list
student_info = []
with open('useful_datasets/grades.txt') as grades:
          grade = grades.read()
          student_info.append(grade)

In [9]:
student_info

['StudentID,Q1,Q2,Q3,Q4\nstudent1, 89, 76, 82, 56\nstudent2, 71, 88, 61, 90\nstudent3, 71, 80, 84, 65\nstudent4, 67, 90, 73, 92\nstudent5, 79, 91, 81, 76\nstudent6, 67, 79, 80, 70\nstudent7, 69, 91, 73, 65\nstudent8, 72, 59, 81, 93\nstudent9, 68, 88, 92, 76\nstudent10, 87, 83, 79, 89\n']

In [13]:
#isolating so that each student's score shows as a tuple (using regex)
scores = ''
p = '([a-z]+[0-9]+).*?(\d{2}), (\d{2}), (\d{2}), (\d{2})'
for line in student_info:
    scores= re.findall(p,line.strip(','))

In [14]:
scores

[('student1', '89', '76', '82', '56'),
 ('student2', '71', '88', '61', '90'),
 ('student3', '71', '80', '84', '65'),
 ('student4', '67', '90', '73', '92'),
 ('student5', '79', '91', '81', '76'),
 ('student6', '67', '79', '80', '70'),
 ('student7', '69', '91', '73', '65'),
 ('student8', '72', '59', '81', '93'),
 ('student9', '68', '88', '92', '76'),
 ('student10', '87', '83', '79', '89')]

In [15]:
#creates list item for each student's grades (instead of a tuple)
student_list = [list(i) for i in scores]

In [16]:
student_list

[['student1', '89', '76', '82', '56'],
 ['student2', '71', '88', '61', '90'],
 ['student3', '71', '80', '84', '65'],
 ['student4', '67', '90', '73', '92'],
 ['student5', '79', '91', '81', '76'],
 ['student6', '67', '79', '80', '70'],
 ['student7', '69', '91', '73', '65'],
 ['student8', '72', '59', '81', '93'],
 ['student9', '68', '88', '92', '76'],
 ['student10', '87', '83', '79', '89']]

In [17]:
#Get the students together in one list
stu_only = [i[0] for i in student_list]
stu_only

['student1',
 'student2',
 'student3',
 'student4',
 'student5',
 'student6',
 'student7',
 'student8',
 'student9',
 'student10']

In [18]:
#Get the scores in one list
grades_only = []
for i in student_list:
    grades_only.append(i[1:])

In [19]:
grades_only

[['89', '76', '82', '56'],
 ['71', '88', '61', '90'],
 ['71', '80', '84', '65'],
 ['67', '90', '73', '92'],
 ['79', '91', '81', '76'],
 ['67', '79', '80', '70'],
 ['69', '91', '73', '65'],
 ['72', '59', '81', '93'],
 ['68', '88', '92', '76'],
 ['87', '83', '79', '89']]

In [20]:
#Each grade is actually a string and in order to calculate the mean, we need to change the type to int

arr = np.array(grades_only, dtype=int)

#change it back to a list from an array
grade_intgr = [list(i) for i in arr]

In [21]:
grade_intgr

[[89, 76, 82, 56],
 [71, 88, 61, 90],
 [71, 80, 84, 65],
 [67, 90, 73, 92],
 [79, 91, 81, 76],
 [67, 79, 80, 70],
 [69, 91, 73, 65],
 [72, 59, 81, 93],
 [68, 88, 92, 76],
 [87, 83, 79, 89]]

In [22]:
#For each line, calculate the mean -- sum of the numbers in each row/the number of items in the row
means = []
for i in grade_intgr:
    average = sum(i)/len(i)
    means.append(average)

In [24]:
means

[75.75, 77.5, 75.0, 80.5, 81.75, 74.0, 74.5, 76.25, 81.0, 84.5]

In [25]:
#Assign letter grades based on the raw grade
letter_grade = []
for i in means:
    if i >= 90 and i <= 100:
        letter_grade.append('A')
    elif i >= 80 and i < 90:
        letter_grade.append('B')
    elif i >= 70 and i < 80:
        letter_grade.append('C')
    elif i >= 60 and i < 70:
        letter_grade.append('D')
    else:
        letter_grade.append('F')

In [26]:
letter_grade

['C', 'C', 'C', 'B', 'B', 'C', 'C', 'C', 'B', 'B']

In [27]:
#Put it all together! 
#Map each element in each list based on their equal/respective positions to one another
final = []
for a,b in enumerate(stu_only): #student only list (no grades)
    for c,d in enumerate(means): #list of averages
        for e,f in enumerate(letter_grade):
            if a == c == e:
                final.append(b+ ' - '+str(d)+ ' - '+ f+ ' average' )

In [28]:
final #matches the output from the dataframe

['student1 - 75.75 - C average',
 'student2 - 77.5 - C average',
 'student3 - 75.0 - C average',
 'student4 - 80.5 - B average',
 'student5 - 81.75 - B average',
 'student6 - 74.0 - C average',
 'student7 - 74.5 - C average',
 'student8 - 76.25 - C average',
 'student9 - 81.0 - B average',
 'student10 - 84.5 - B average']